In [1]:
#!/usr/bin/python
import sqlite3

conn = sqlite3.connect('test.db')
print("Opened database successfully")

Opened database successfully

In [2]:
#!/usr/bin/python
import sqlite3

conn = sqlite3.connect('test.db')
print("Opened database successfully")

conn.execute('''CREATE TABLE COMPANY
             (ID INT PRIMARY KEY NOT NULL,
             NAME TEXT NOT NULL,
             AGE INT NOT NULL,
             ADDRESS CHAR(50),
             SALARY REAL);''')
print("Table created successfully")

conn.close()

Opened database successfully
Table created successfully

In [3]:
#!/usr/bin/python
import sqlite3

conn = sqlite3.connect('test.db')
print("Opened database successfully")

conn.execute("UPDATE COMPANY set SALARY = 25000.00 where ID=1")
conn.commit()
print("Total number of rows updated:", conn.total_changes)

cursor = conn.execute("SELECT id, name, address, salary from COMPANY")
for row in cursor:
    print("ID =", row[0])
    print("NAME =", row[1])
    print("ADDRESS =", row[2])
    print("SALARY =", row[3], "\n")

print("Operation done successfully")
conn.close()

Opened database successfully
Total number of rows updated: 0
Operation done successfully

In [4]:
#!/usr/bin/python
import sqlite3

conn = sqlite3.connect('test.db')
print("Opened database successfully")

conn.execute("DELETE from COMPANY where ID=2;")
conn.commit()
print("Total number of rows deleted:", conn.total_changes)

cursor = conn.execute("SELECT id, name, address, salary from COMPANY")
for row in cursor:
    print("ID =", row[0])
    print("NAME =", row[1])
    print("ADDRESS =", row[2])
    print("SALARY =", row[3], "\n")

print("Operation done successfully")
conn.close()

Opened database successfully
Total number of rows deleted: 0
Operation done successfully